
.detalhe2{
position: absolute;
top: -60px;
left: 5
0px;
}
.footer-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
}
.footer-container p{
  color: #ccc;
   font-size:1.5rem;
  /* justify-content: start;  */
  line-height: 1.33;
  align-self: center;
}
.footer-container li{
  margin-bottom: 20px;
  font-weight: bold;
  font-size:2.25rem;
  color:#fff;
  line-height: 1.1;
}
.footer-container a{
  color: #fff;
  text-decoration:underline;
}
.footer-container span{
  color: #8f8f8f;
  font-size: 1.125rem;
  grid-column: 1 / -1;
}
.footer{
  background-color: #000;
  margin:0% ;
  position: relative;
}
@media(max-width:800px){
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-container li{
 font-size: 1.5rem;
  }
}
  
